div {
  display: flex;
  flex-wrap: wrap;
}
div .product {
  border: 1px solid rgb(207, 207, 207);
  width: 280px;
  height: 50px;
  margin: 5px;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 2px 2px 10px rgb(209, 209, 209);
  align-content: center;
}
h4 {
  width: 280px;
  margin-bottom: -10px;
}
select {
  width: 280px;
  padding: 10px;
  margin: 5px;
}
